.icon {
    margin-right: 8px;
}

.user {
    margin-right: 8px;
}

.item {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 16px;
    width: 280px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

.button {
    padding: 4px 16px;
    border-radius: 8px;
    border: none;
    height: 36px;
    border: 1px solid #A9A9A9;
}